<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp-Index</title>
  </head>
  <body style="margin-left:50px; margin-right:50px;">
    <header align="right">
      <% include ./partials/_header %>
    </header>
    <h1>List of URL's</h1>
    <form action="/urls/new" method="GET" style="margin:50px;">
      <input type="submit" value="Add New URL">
    </form>
    <table style="margin-left:50px;">
      <% for (var url in urls) { %>
          <tr style="height:30px;">
            <form action="/urls/<%= url %>/delete" method="POST">
              <td><%=url%></td>
              <td>&rarr;</td>
              <td style="width:250px;">
                <a href="<%= urls[url].url %>"><%=urls[url].url%></a>
              </td>
              <td style="width:50px;">
                <a href="/urls/<%=url%>">Edit</a>
              </td>
              <td>
                <button>Delete<img src="https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-256.png" width="20" height="20"></button>
              </td>
            </form>
          </tr>
      <% } %>
    </table>
  </body>
</html>