<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp-Index</title>
  </head>
  <body>
    <header align="right">
      <% include ./partials/_header %>
    </header>
    <table style="margin:50px;">
      <% for (var url in urls) { %>
          <tr style="height:60px;">
            <form action="/urls/<%= url %>/delete" method="POST">
              <td style="width:300px;">
                <%=url%> &rarr; <a href="<%= urls[url].url %>" style="width:300px;"><%=urls[url].url%></a>
              </td>
              <td style="width:50px;">
                <a href="/urls/<%=url%>">Edit</a>
              </td>
              <td>
                <button>Delete<img src="https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-256.png" width="20" height="20"></button>
              </td>
            </form>
          </tr>
      <% } %>
    </table>
  </body>
</html>